
//Tipografía ===============================================
$base-font: 'Source Serif Pro', sans-serif;
$headings-font: 'Source Serif Pro', sans-serif;


//Color=====================================================
$white-color: #fff;
$up-color:#206D90;
$down-color:#51FCE0;